@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: iranyekan-regular;
        src: url("/fonts/IRANYekanMobileRegular.ttf");
    }

    @font-face {
        font-family: iranyekan-bold;
        src: url("/fonts/IRANYekanMobileBold.ttf");
    }
}

@layer base {
    .text1 {
        @apply text-2xl font-bold;
    }
    .text2 {
        @apply text-2xl font-semibold;
    }
}

* {
    font-family: iranyekan-regular, sans-serif;
}
